<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" accesskey="0">
            <svg class="logo" alt="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0.019 0.035 153.783 35.9" width="153.783px" height="35.9px"><path d="M 58.119 2.835 L 58.119 32.935 C 58.119 33.668 57.877 34.277 57.394 34.76 C 56.911 35.243 56.302 35.485 55.569 35.485 C 55.236 35.485 54.877 35.418 54.494 35.285 C 54.111 35.152 53.819 34.968 53.619 34.735 L 33.069 8.085 L 34.219 7.435 L 34.219 33.185 C 34.219 33.818 34.002 34.36 33.569 34.81 C 33.136 35.26 32.586 35.485 31.919 35.485 C 31.219 35.485 30.661 35.26 30.244 34.81 C 29.827 34.36 29.619 33.818 29.619 33.185 L 29.619 3.035 C 29.619 2.268 29.869 1.652 30.369 1.185 C 30.869 0.718 31.469 0.485 32.169 0.485 C 32.536 0.485 32.927 0.56 33.344 0.71 C 33.761 0.86 34.069 1.085 34.269 1.385 L 54.319 27.485 L 53.569 28.185 L 53.569 2.835 C 53.569 2.168 53.786 1.61 54.219 1.16 C 54.652 0.71 55.202 0.485 55.869 0.485 C 56.536 0.485 57.077 0.71 57.494 1.16 C 57.911 1.61 58.119 2.168 58.119 2.835 Z M 99.769 0.485 L 117.069 0.485 C 117.769 0.485 118.361 0.718 118.844 1.185 C 119.327 1.652 119.569 2.235 119.569 2.935 C 119.569 3.635 119.327 4.202 118.844 4.635 C 118.361 5.068 117.769 5.285 117.069 5.285 L 101.969 5.285 L 102.469 4.435 L 102.469 15.635 L 102.019 15.135 L 114.819 15.135 C 115.519 15.135 116.111 15.368 116.594 15.835 C 117.077 16.302 117.319 16.902 117.319 17.635 C 117.319 18.335 117.077 18.902 116.594 19.335 C 116.111 19.768 115.519 19.985 114.819 19.985 L 102.119 19.985 L 102.469 19.535 L 102.469 31.085 L 102.119 30.685 L 117.069 30.685 C 117.769 30.685 118.361 30.927 118.844 31.41 C 119.327 31.893 119.569 32.452 119.569 33.085 C 119.569 33.785 119.327 34.36 118.844 34.81 C 118.361 35.26 117.769 35.485 117.069 35.485 L 99.769 35.485 C 99.069 35.485 98.469 35.243 97.969 34.76 C 97.469 34.277 97.219 33.668 97.219 32.935 L 97.219 3.035 C 97.219 2.302 97.469 1.693 97.969 1.21 C 98.469 0.727 99.069 0.485 99.769 0.485 Z M 125.769 32.935 L 125.769 3.035 C 125.769 2.302 126.019 1.693 126.519 1.21 C 127.019 0.727 127.619 0.485 128.319 0.485 L 142.419 0.485 C 144.219 0.485 145.869 0.927 147.369 1.81 C 148.869 2.693 150.077 3.91 150.994 5.46 C 151.911 7.01 152.369 8.785 152.369 10.785 C 152.369 12.118 152.102 13.393 151.569 14.61 C 151.036 15.827 150.319 16.902 149.419 17.835 C 148.519 18.768 147.502 19.468 146.369 19.935 L 145.819 18.985 C 146.852 19.352 147.752 19.877 148.519 20.56 C 149.286 21.243 149.894 22.043 150.344 22.96 C 150.794 23.877 151.036 24.918 151.069 26.085 C 151.169 27.118 151.261 27.977 151.344 28.66 C 151.427 29.343 151.552 29.902 151.719 30.335 C 151.886 30.768 152.186 31.102 152.619 31.335 C 153.219 31.668 153.594 32.168 153.744 32.835 C 153.782 32.999 153.801 33.167 153.802 33.336 C 153.8 33.812 153.628 34.273 153.319 34.635 C 153.019 35.035 152.644 35.293 152.194 35.41 C 151.934 35.478 151.667 35.512 151.398 35.512 C 151.204 35.512 151.01 35.494 150.819 35.46 C 150.352 35.377 149.952 35.252 149.619 35.085 C 149.086 34.752 148.544 34.277 147.994 33.66 C 147.444 33.043 147.002 32.185 146.669 31.085 C 146.336 29.985 146.169 28.535 146.169 26.735 C 146.169 25.902 146.036 25.185 145.769 24.585 C 145.502 23.985 145.136 23.493 144.669 23.11 C 144.202 22.727 143.652 22.443 143.019 22.26 C 142.386 22.077 141.686 21.985 140.919 21.985 L 130.319 21.985 L 131.019 20.985 L 131.019 32.935 C 131.019 33.668 130.819 34.277 130.419 34.76 C 130.019 35.243 129.469 35.485 128.769 35.485 C 127.969 35.485 127.269 35.243 126.669 34.76 C 126.069 34.277 125.769 33.668 125.769 32.935 Z M 131.019 18.685 L 130.369 17.635 L 142.319 17.635 C 143.086 17.602 143.827 17.293 144.544 16.71 C 145.261 16.127 145.844 15.335 146.294 14.335 C 146.744 13.335 146.969 12.202 146.969 10.935 C 146.969 9.335 146.494 7.993 145.544 6.91 C 144.594 5.827 143.469 5.285 142.169 5.285 L 130.469 5.285 L 131.019 3.985 L 131.019 18.685 Z M 22.119 11.735 L 22.119 24.885 C 22.119 28.352 21.152 31.06 19.219 33.01 C 17.286 34.96 14.552 35.935 11.019 35.935 C 7.519 35.935 4.811 34.96 2.894 33.01 C 0.977 31.06 0.019 28.352 0.019 24.885 L 0.019 11.735 C 0.019 11.002 0.252 10.393 0.719 9.91 C 1.186 9.427 1.786 9.185 2.519 9.185 C 3.219 9.185 3.811 9.427 4.294 9.91 C 4.777 10.393 5.019 11.002 5.019 11.735 L 5.019 24.885 C 5.019 27.052 5.527 28.668 6.544 29.735 C 7.561 30.802 9.052 31.335 11.019 31.335 C 12.692 31.455 14.34 30.876 15.569 29.735 C 16.602 28.668 17.119 27.052 17.119 24.885 L 17.119 11.735 C 17.119 11.002 17.352 10.393 17.819 9.91 C 18.286 9.427 18.886 9.185 19.619 9.185 C 20.319 9.185 20.911 9.427 21.394 9.91 C 21.877 10.393 22.119 11.002 22.119 11.735 Z M 75.019 32.935 L 75.019 5.325 L 80.369 5.325 L 80.369 32.935 C 80.369 33.668 80.111 34.277 79.594 34.76 C 79.077 35.243 78.436 35.485 77.669 35.485 C 76.869 35.485 76.227 35.243 75.744 34.76 C 75.261 34.277 75.019 33.668 75.019 32.935 Z M 89.069 5.285 C 89.769 5.285 90.361 5.068 90.844 4.635 C 91.327 4.202 91.569 3.618 91.569 2.885 C 91.569 2.185 91.327 1.61 90.844 1.16 C 90.361 0.71 89.769 0.485 89.069 0.485 L 66.319 0.485 C 65.619 0.485 65.019 0.702 64.519 1.135 C 64.019 1.568 63.769 2.135 63.769 2.835 C 63.769 3.568 64.019 4.16 64.519 4.61 C 65.019 5.06 65.619 5.285 66.319 5.285 L 89.069 5.285 Z M 3.619 3.135 L 3.619 2.385 C 3.619 1.552 3.844 0.952 4.294 0.585 C 4.744 0.218 5.402 0.035 6.269 0.035 C 7.269 0.035 7.986 0.21 8.419 0.56 C 8.852 0.91 9.069 1.518 9.069 2.385 L 9.069 3.135 C 9.069 4.035 8.844 4.652 8.394 4.985 C 7.944 5.318 7.236 5.485 6.269 5.485 C 5.336 5.485 4.661 5.302 4.244 4.935 C 3.827 4.568 3.619 3.968 3.619 3.135 Z M 13.119 3.135 L 13.119 2.385 C 13.119 1.518 13.352 0.91 13.819 0.56 C 14.286 0.21 14.952 0.035 15.819 0.035 C 16.786 0.035 17.486 0.218 17.919 0.585 C 18.352 0.952 18.569 1.552 18.569 2.385 L 18.569 3.135 C 18.569 4.035 18.344 4.652 17.894 4.985 C 17.444 5.318 16.736 5.485 15.769 5.485 C 14.836 5.485 14.161 5.302 13.744 4.935 C 13.327 4.568 13.119 3.968 13.119 3.135 Z" id="object-0"></path></svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if (user) { %>
                    <% if (user.rol === 'empleado') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/empleado/dashboard" accesskey="1">Mi Panel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/empleado/vehiculos" accesskey="2">Vehículos Disponibles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/empleado/reservas" accesskey="3">Mis Reservas</a>
                        </li>
                    <% } %>

                    <% if (user.rol === 'admin') { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/dashboard" accesskey="1">Panel Principal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/vehiculos" accesskey="2">Vehículos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/concesionarios" accesskey="3">Sedes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/usuarios" accesskey="4">Usuarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/estadisticas" accesskey="5">Estadísticas</a>
                                </li>
                    <% } %>
                <% } %>
            </ul>

            <div class="d-flex">
                <button class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#accessibilityModal" accesskey="a">
                    Accesibilidad
                </button>

                <% if (user) { %>
                    <a href="/logout" class="btn btn-outline-danger" accesskey="c">Cerrar Sesión</a>
                <% } else { %>
                    <a href="/login" class="btn btn-outline-primary me-2">Login</a>
                    <a href="/registro" class="btn btn-primary">Registro</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>