body{
    background-color:white;
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 3em;
}

header{
    background-color: black;
    position: sticky;
    top: 0;

}

.logo {
    filter: invert(100%);
    width: 20%;
}

nav ul{
    list-style: none;
    justify-items: left;
}

nav button{
    color: white;
    background-color: transparent;
    border-style: none;
}

.cabecera{
    box-sizing: border-box;
    display: flex;
}

.head-list{
    display: flex;
}

.contacto-form{
    position: relative;
    color: white;
    width: 40%;
    height: 0%;
    padding: 10px;
    border: 5px solid gray;
    margin: 15px;
    background-color: black;

}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}