body{
    background-color:white;
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 3em;
}

header{
    background-color: black;
    position: sticky;
    top: 0;

}

.logo {
    filter: invert(100%);
    width: 20%;
}

nav ul{
    list-style: none;
    justify-items: left;
}

nav button{
    color: white;
    background-color: transparent;
    border-style: none;
}

.cabecera{
    box-sizing: border-box;
    display: flex;
}

.head-list{
    display: flex;
}

.contacto-form{
    position: relative;
    color: white;
    width: 30%;
    max-width: 600px;
    border: 2px solid gray;
    padding: 15px;
    background-color: black;
    text-align: center;
}

.container{
    background: black;
    margin-top: 20px;
    padding: 5px;
}

@media (min-width: 568px) {
    .container {
        width: 550px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}