header{
    display: flex;
    background-color: black;
    position: sticky;
    top: 0;
    font-size: 4em;
    justify-content: space-between;
    padding: 2rem;
}

.logo {
    filter: invert(100%);
}

nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav button{
    color: white;
    background-color: transparent;
    border-style: none;
    size: 3rem;
    font-size: 1rem;
    font-weight: 400;
}

nav button:hover{
    /* color: #7289DA; */
    /* transform: scale(1.05); subtle enlargement */
    text-shadow: 0 0 0.2rem currentColor; /* gives “bolder” look */}

body{
    background-color:white;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 3em;
}

.contacto-form{
    position: relative;
    color: white;
    width: 30%;
    max-width: 600px;
    border: 2px solid gray;
    padding: 15px;
    background-color: black;
    text-align: center;
}

.container{
    background: black;
    margin-top: 20px;
    padding: 5px;
}

@media (min-width: 568px) {
    .container {
        width: 550px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}