<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Empleado</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Panel de Empleado</h1>
        <p>¡Bienvenido!</p>
        <ul>
            <li><a href="/empleado/vehiculos">Ver Vehículos de mi Base</a></li>
            <li><a href="/empleado/reservas">Mis Reservas</a></li>
        </ul>
        <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>