<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ERROR 404</title>
</head>
<body>
    <h1>Error 404 - Página No Encontrada</h1>
    <p>La dirección <code><%= url %></code> no existe en este servidor.</p>
</body>
</html>