<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ERROR 404</title>
    <link rel="icon" type="image/svg" href="../img/icon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="weberror">
    <h1>Error 404<br>Página No Encontrada</h1>
    <p>La dirección <code><%= url %></code> no existe en este servidor.</p>
</body>
</html>