<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ERROR 403</title>
    <link rel="icon" type="image/svg" href="../img/icon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="weberror">
    <h1>Error 403<br>No tienes permisos para acceder a este recurso.</h1>
</body>
</html>