<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error del servidor</title>
    <link rel="icon" type="image/svg" href="../img/icon.svg">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="weberror">
    <h1>500<br>Error Interno del Servidor</h1>
    <p>Se ha producido el siguiente error: <%= mensaje %></p>
</body>
</html>