body.high-contrast {
    background-color: #1e1e1e !important;
    color: #fff !important;
}

body.high-contrast .card,
body.high-contrast .modal-content {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #fff;
}

body.high-contrast .dropdown-menu {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #fff;
}

body.high-contrast .table {
    color: #fff !important;
}

body.high-contrast .table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    color: white !important;
    background-color: #555 !important;
}

body.high-contrast a {
    color: #ffff00 !important;
}

body.high-contrast .btn-primary {
    background-color: #000;
    border: 2px solid #fff;
}

body.font-small {
    font-size: 80% !important;
}

body.font-large {
    font-size: 180% !important;
}

body.high-contrast .carousel-indicators .active {
    background-color: #ffffff;
    opacity: 1;
}

body.high-contrast .carousel-control-prev-icon,
body.high-contrast .carousel-control-next-icon {
    filter: invert(0);
}