
* {
    font-family: "Quicksand", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #2c2c2c;
    position: sticky;
    /* top: 0; */
    /* font-size: 4em; */
    padding: 2rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    button {
        color: white;
        background-color: transparent;
        border-style: none;
        /* size: 3rem;
        font-size: 1rem;
        font-weight: 400; */
    }
}

nav button:hover {
    text-shadow: 0 0 0.2rem currentColor;
}

.btn.btn-primary.dropdown-toggle {
    background-color: #ffffff !important;
    border-style: none !important;
}



.logo {
    filter: invert(100%);
}
