@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Quicksand", "sans-serif";
}

main {
    flex: 1;
}

.logo {
    filter: invert(100%);
}

.weberror {
    background-color: #2c2c2c;

    color: white;

    height: 100vh;
    justify-content: center;
    min-height: 180px;
    text-align: center;
    align-items: center;

    h1 {
        font-size: 4em;
        line-height: 1em;
        font-weight: 700;
    }
}

.navbar {
    top: 0 !important;
    position: sticky !important;
    z-index: 1000 !important;
}

.navbar-toggler .navbar-toggler-icon {
    color: aliceblue !important;
    background-color: blue !important;
}

.dropdown-menu {
    align-items: center !important;
    border: 3px solid #313131 !important;
    margin: auto !important;
}

.imagen-contenedor img {
    display: block;
    /* max-height: 100px; */
}

key {
    color: #313131;
    background-color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.1rem;
    display: inline-block;
    line-height: 0.7rem;
    margin: 0.3em;
    font-weight: 800;
}

.carousel-indicators [data-bs-target] {
    background-color: #2f2f2f; /* Pon aquí tu color (ej. Rojo) */
    opacity: 0.8; /* Hazlas más visibles si quieres */
}

/* Color de la rayita activa */
.carousel-indicators .active {
    background-color: #000000; /* Un tono más oscuro para la activa */
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}