@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Quicksand", "sans-serif";
}

main {
    flex: 1;
}

.logo {
    filter: invert(100%);
}

.weberror {
    background-color: #2c2c2c;

    color: white;

    height: 100vh;
    justify-content: center;
    min-height: 180px;
    text-align: center;
    align-items: center;
    h1 {
        font-size: 4em;
        line-height: 1em;
        font-weight: 700;
    }
}

.navbar {
    top: 0 !important;
    position: sticky !important;
    z-index: 1000 !important;
}


.dashboard-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    align-items: center !important;
    color: white !important;
    background-color: #2c2c2c !important;
    border: 3px solid #313131 !important;
    padding: 1.5rem !important;
    width: 50rem !important;
    margin: auto !important;
}

.imagen-contenedor img {
    display: block;
    max-height: 100px;
}